
.label {
    font-weight: bold;
    color: blue;

}

.footer {
    margin: 15px 0 0;
    color: #200704;
    font-size: 18px;
}

.footer a {
    color: #4CAF50;
    text-decoration: none;
}

#form_register {
left: 50%;
    top: 50%;
    margin-left: -9%;
    position: absolute;
    margin-top: -14%;
}

#form_login {
    left: 50%;
    top: 50%;
    margin-left: -9%;
    position: absolute;
    margin-top: -14%;
    align-items: center;
    align-content: center;
}

#form_logout {
    left: 50%;
    top: 50%;
    margin-left: -2%;
    position: absolute;
    margin-top: -12%;
    align-items: center;
    align-content: center;
}


.label::after {
    color: blue;
  text-align: right;
    content: ":";

}

.error {
    color: red;
}

.title {
    font-style: italic;
    color: yellow;
}
